body {
  padding: 0;
  margin: 0;
}

.section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  background-image: url("./img/jarvis_5aa81ce0498ee282d389a968.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  height: 100vh;
  min-height: 640px;
  overflow: hidden;
  /* transition: all 0.5s ease-out; */
}

.screen_crop {
  position: absolute;
  top: 0;
  height: 100vh;
  min-height: 640px;
  width: 100%;
  overflow: hidden;
}

.grid-container {
  background-color: #ffffff59;
  display: grid;
  grid-template-rows: 50vh 50vh;
  min-height: 640px;
}

.img_container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 5vh;
  height: 30vh;
}

.q_img {
  height: 40vh;
  border-radius: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.q_button {
  width: 20vw;
  min-width: 300px;
  height: 3.5vw;
  min-height: 50px;
  border: 2px solid black;
  background-color: #ffffff;
  color: #000000;
  font-size: 2vw;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .q_button {
    font-size: 28px;
  }
}

.q_button:hover {
  background-color: #6fdcff;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.btn_select {
  background-color: #6fdcff;
}

.btn_right {
  background-color: #01ad20c8;
}

.btn_right:hover {
  background-color: #01ad20c8;
}

.btn_wrong {
  background-color: #d20a0ac8;
}

.btn_wrong:hover {
  background-color: #d20a0ac8;
}

.btn_blur {
  filter: blur(5px);
  color: rgba(0, 0, 0, 0.196);
  cursor: default;
}

.btn_blur:hover {
  background-color: white;
}

.main-page_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.quiz_heading {
  position: relative;
  padding-top: 8vw;
  padding-right: 40vw;
  font-size: 8vw;
  transition: all 1.5s ease-in;
}

.quiz_heading-animation {
  scale: 0.8;
}

.starting-quiz_heading {
  margin-left: 100vw;
  font-size: 8vw;
}

.quiz_desc {
  position: relative;
  top: -8vw;
  padding-right: 40vw;
  font-size: 3vw;
  transition: all 2s;
}

.starting-quiz_desc {
  transform: scale(1.3);
  padding-right: 28vw;
}

.btn_start {
  position: relative;
  padding-bottom: 0.3vw;
  width: 20vw;
  height: 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5vw;
  left: 20vw;
  top: -6vw;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 1vw 1vw 2vw 1vw rgba(0, 0, 0, 0.667);
  cursor: pointer;
  transition: all 0.3s, margin-left 0.8s, scale 3s, box-shadow 3s,
    background-color 2s, color 0.5s;
}

.btn_start-animation {
  scale: 1.5;
  background-color: rgba(255, 0, 0, 0.375);
  box-shadow: 0.9vw 0.9vw 2.5vw 1vw rgba(0, 0, 0, 0.846);
  color: white;
}

.btn_start:hover {
  color: white;
  background-color: black;
  box-shadow: 1vw 1vw 2vw 0.9vw rgba(0, 0, 0, 0.667);
}

.starting-btn_start {
  color: white;
  background-color: black;
  box-shadow: 1vw 1vw 2vw 0.9vw rgba(0, 0, 0, 0.667);
  margin-left: -50vw;
}

.section_end {
  background-image: url("./img/7275ebb3-e261-483d-a964-d59efa5a36ab.webp");
}

.quiz_end {
  padding-top: 0;
  margin-top: 1vw;
  font-size: 8vw;
  z-index: 2;
}

.quiz_results {
  position: relative;
  top: -2vw;
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 1vw;
  z-index: 2;
}

.right_answers {
  text-shadow: 0 0 1vw #007b17;
}

.wrong_answers {
  text-shadow: 0 0 1vw #d20a0a;
}

.btn_exit {
  position: relative;
  padding-bottom: 0.3vw;
  width: 20vw;
  height: 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5vw;
  left: 40vw;
  top: 7vw;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 1vw 1vw 2vw 1vw rgba(0, 0, 0, 0.667);
  cursor: pointer;
}

.btn_exit:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: all 0.3s;
  box-shadow: 1vw 1vw 2vw 0.9vw rgba(0, 0, 0, 0.667);
}

.end_results-container {
  position: relative;
  width: 50vw;
  top: 5vw;
  left: 25vw;
  background-color: rgba(0, 0, 0, 0.584);
  border-radius: 4vw;
}
